{% extends "eligibility/base.html" %}
{% load bootstrap5 %}

{% block page_title %}Player Eligibility Portal{% endblock %}

{% block container %}
    <main class="mt-3">
        <div class="row g-5">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Players</h5>
                    <div class="card-body">
                        If you're intending to play at a FIT tournament, you will need to provide us with details of your
                        birthplace and residency, as well as the birthplace of your parents and grandparents, in order to
                        determine which countries you're eligible for.
                    </div>
                    <div class="card-footer">
                        {% url 'players' as player_portal %}
                        {% bootstrap_button "Begin" button_type="link" href=player_portal %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Administrators</h5>
                    <div class="card-body">
                        After players have provided their details and nominated the country they plan to represent, that
                        country needs to verify them and also needs to declare any dual nationals who are selected in their
                        preliminary squads and final teams.
                    </div>
                    <div class="card-footer">
                        {% bootstrap_button "Begin" button_type="link" href="#" extra_classes="disabled" %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock container %}
