{% extends "base.html" %}
{% load bootstrap5 eligibility_tags %}

{% block container %}
    <main class="mt-3">
        <div class="card mb-3">
            <h4 class="card-header text-center">Player Declaration</h4>
            <div class="card-body">
                {% include "eligibility/playerdeclaration_detail_top.html" %}
                <h5 class="card-title">Ancestry</h5>
            </div>

            {% include "eligibility/playerdeclaration_detail_ancestry.html" %}

            <div class="card-footer">
                {% url 'players' as players_url %}
                {% bootstrap_button "Players" button_type="link" href=players_url %}
                {% bootstrap_button object.player button_type="link" href=object.player.get_absolute_url button_class="btn-secondary" %}
            </div>
        </div>
    </main>
{% endblock %}
