django-bootstrap-v5
django-dirtyfields
django-environ
django-guardian
django-htmx
django-more-admin-filters
django-nested-admin
django-querycount
django-sslserver
django~=3.2
gunicorn
pip-tools
psycopg2
requests
social-auth-app-django
whitenoise
