django
django-bootstrap-v5
django-debug-toolbar
django-dirtyfields
django-environ
django-guardian
django-htmx
django-impersonate
django-modelforms
django-more-admin-filters
django-nested-admin
django-querycount
django-sslserver
gunicorn
pip-tools
psycopg2
requests
sentry-sdk
social-auth-app-django
whitenoise
