<!DOCTYPE html>{% load bootstrap5 django_htmx %}
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    {% django_htmx_script %}
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-white">This system support players and administrators who need to comply with the
                        conditions set out in the <a href="#">FIT Player Eligibility Policy</a>.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>FIT Eligibility Portal</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<div class="container">
    {% block container %}{% endblock %}
</div><!-- /container -->

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1"><a href="#">Back to top</a></p>
        <p class="mb-1">&copy; Federation of International Touch Limited.</p>
        <p>
            [ <a href="https://www.internationaltouch.org/privacy-policy/">Privacy Policy</a> | <a href="https://www.internationaltouch.org/terms-conditions/">Terms &amp; Conditions</a> ]
        </p>
        {% if user.is_impersonate %}
            {% url "impersonate-stop" as stop_url %}
            {% bootstrap_button "Stop Impersonating" button_type="link" href=stop_url size="small" button_class="btn-danger" %}
        {% elif user.is_staff %}
            {% url "impersonate-list" as list_url %}
            {% bootstrap_button "Impersonate" button_type="link" href=list_url size="small" button_class="btn-warning" %}
        {% endif %}
    </div>
</footer>

{% bootstrap_javascript %}
</body>
</html>
